{% extends "base.html" %} {% block title %}About{% endblock %}
{% block aboutcontent %}
    <div class="about_main_container">
        <section class="about_container">
            <h1 class="pt-4 pb-2 about-header">About Holiday Helper!</h1>
            <p>Holidays helper started off as a personal project with the aim of helping people decide on the best
                place to travel based on the type of holiday they are looking for.
            </p>
            <h4>When using the app, please remember the following:</h4>
            <ul>
                <li>Although Holidays Helper uses real data from various sources, please note that the data isn't perfect
                and whilst the goal is to help you as much as possible, we recommend checking locations <strong>thoroughly</strong>
                before committing to the destination.
                </li>
                <li>Our goal is to give you the most accurate information, however the data at the current time is
                    up to date as of <span class="text-danger">2021</span> but does vary based on the source.
                    Data used from external sources is mentioned below.
                </li>
            </ul>
        </section>
        <div class="accred-title-header">
        <h4>Holiday Helper uses data from the following sources: </h4>
        <span class="mini-text lead">(external links provided, Holidays Helper does not guarantee the safety of the links)</span>
        </div>
        <ul>
            <li class="accreditation">Holidays Helper uses data from UNESCO World Heritage Center to aid in its function.
                "World Heritage List - UNESCO." UNESCO World Heritage Centre. Accessed in 2021. Available at: <a href="https://whc.unesco.org/">https://whc.unesco.org/</a>
            </li>
            <li class="accreditation">Holidays Helper uses data from OpenTripMap, licensed under the Open Database License (ODbL).
                OpenTripMap provides comprehensive information on travel destinations and attractions worldwide.
                You can find more information about OpenTripMap and access their data at <a href="https://opentripmap.com/en/">https://opentripmap.com/en/</a>.
                Data utilised from 2021.
            </li>
            <li class="accreditation">
                Holidays Helper uses data from Wikipedia. Including the GPI (Global Peace Index). Available at: <a href="https://en.wikipedia.org/wiki/Global_Peace_Index">https://en.wikipedia.org/wiki/Global_Peace_Index</a> <br>
                Along with data from the "List of National Parks". Available at: <a href="https://en.wikipedia.org/wiki/List_of_national_parks">https://en.wikipedia.org/wiki/List_of_national_parks</a> <br>
                Data gathered in 2021.
            </li>
{#            <li class="accreditation">
                
            </li>#}
        </ul>
    </div>
{% endblock %}