{% extends "base.html" %} {% block title %}Your Countries{% endblock %}
{% block countriespage %}

<div class="container select-box pt-5">
    <div class="options-container active">
        {% for country in countries %}
            {% for countryCode, countryName in country.items() %}
            <div class="option">
                <input type="radio" class="radio" id="{{ countryCode }}" name="countries" />
                <!-- Links the button with the label -->
                <label for="{{ countryCode }}">{{ countryName }}</label>
            </div>
            {% endfor %}
        {% endfor %}
    </div>

    <!-- id for the selected country and to manipulate it in JS -->
    <!-- class of selected used for the styling -->
    <div id="selectedCountry" class="selected">
        Select Countries...
    </div>


</div>

<div class="container pt-4 pb-1" align="center">
    <button type="submit" class="bte btn-primary addCountryButton">Add Country</button>
    <p id="noCountrySelected" style="display:none; color:red" class="pt-3">
        Please select a country
    </p>
    <p id="countryAlreadyAdded" style="display:none; color:red" class="pt-3">
        Country already added
    </p>
</div>

<!--
Added here to avoid rendering each time
First for loop, loops through the countries list
Second for loop, loops through the user's countries
Creates a variable for each country code
Matches the dictionary in the Python list to the jinga country codes with the matching country names
Checks if the countryCode matches the countryCode in the Country table
Creates a variable for the country name which has the matching country code in the country table
-->


<div class="container pt-5">
        {% for generalCountry in countries %}
        {% for country in user.countries %}
        {% set countryCode = country.country_code %}
            {% for generalCountryCode, generalCountryName in generalCountry.items() %}
                {% if countryCode == generalCountryCode %}
                {% set countryName = generalCountryName %}
                <figure class="figure mr-2">
                  <img src="{{ url_for('static', filename='flags/' + countryName + '.png') }}" class="figure-img img-fluid rounded" style="max-width: 75%;" alt="">
                  <figcaption class="figure-caption text-center" style="max-width: 75%;">{{ countryName }}</figcaption>
                  <button type="button" country-code="{{ countryCode }}" class="close deleteCountryButton">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </figure>
                {% endif %}
            {% endfor %}
          {% endfor %}
          {% endfor %}
</div>

<script
    type="module"
    src="{{ url_for('static', filename='countries.js') }}"
></script>

{% endblock %}