{% extends "base.html" %} {% block title %}Extra Info + Legal{% endblock %}
{% block legalcontent %}
<h2>Extra + Legal Info</h2>
<p>Disclaimer: Holiday Helper does not take responsibility for </p>
<p>No Guarantees: The suggestions provided by the App are based on user input and algorithmic calculations. While we strive to offer accurate and relevant recommendations, we cannot guarantee the accuracy, completeness, or suitability of any location suggestion provided by the App.
User Responsibility: Users are solely responsible for evaluating the suitability, safety, and legality of any location suggested by the App. Users should exercise caution and common sense when visiting any suggested location and are encouraged to conduct their own research and assessments before making any decisions.
Third-Party Content: The App may contain links to third-party websites or resources. We do not endorse or control such third-party content and are not responsible for its accuracy, legality, or availability. Users access third-party content at their own risk.
Limitation of Liability: In no event shall we be liable for any direct, indirect, incidental, special, consequential, or punitive damages arising out of or in any way connected with the use of the App or the suggestions provided therein, even if we have been advised of the possibility of such damages.
Changes to Service: We reserve the right to modify, suspend, or discontinue any aspect of the App at any time, without prior notice or liability.
Acceptance of Terms: By using the App, you agree to be bound by the terms of this disclaimer. If you do not agree with any part of this disclaimer, you should refrain from using the App.
Jurisdiction: This disclaimer shall be governed by and construed in accordance with the laws of [Jurisdiction], without regard to its conflict of law provisions.
Contact: If you have any questions or concerns about this disclaimer, please contact us at [Contact Information].
</p>
    <ul>
        <li>No Guarantees. The suggestions made by Holiday Helper are based on user input and algorithmic calculations.
            Although the is aim to provide precise and relevant information, there are no guarantees to the accuracy,
            or suitability of any country suggestions provided.
        </li>
        <li>
            User Responsibility: Users are solely responsible for evaluating the suitability, safety, and legality of
            any location suggested by the App.
            Users should exercise caution and are encouraged to conduct proper research before making decisions.
        </li>
        <li>
            Third-Party Information:
            Holiday Helper may contain links to third-party websites or resources, and is not responsible
            for the accuracy or legality of the content. Accessed third-party content is at the users own risk.
        </li>
        <li>
            No Professional Advice: The suggestions provided by Holiday Helper are for informational purposes only
            and do not constitute professional advice. Users should not rely solely on the App for making important decisions, and should instead seek professional advice where appropriate.

        </li>
    </ul>
{% endblock %}