{% extends "base.html" %} {% block title %}Journeys{% endblock %}
{% block content %}
<div class="container pt-5">
      <h1 align="center">Your Journeys</h1>
</div>

<div class="container pt-3" align="center">
    <button type="submit" class="btn btn-outline-primary mt-3 newJourney">New Journey</button>
</div>

<section class="p-5">
    <div class="container">
        <div class="row text-center g-4">
            {% for travel in journeys %}
            {% for travelID, travelDate in travel.items() %}
            <div class="col-md">
                <div class="card cardTravel text-light">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3">
                            Travel ID: <span style="color:#ffbb11">{{ travelID }}</span>
                        </h3>
                        <p class="card-text">
                            Travel Date: {{ travelDate }}
                        </p>
                        <button class="btn btn-outline-info travel" id="{{ travelID }}">Countries</button>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>


<div class="container pt-3" align="center">
    <p id="pleaseWait" class="text-success pt-3" style="display:none">
        Please wait...
    </p>
</div>



<script
    type="module"
    src="{{ url_for('static', filename='journeys.js') }}"
></script>
{% endblock %}