{% extends "base.html" %} {% block title %}Journeys{% endblock %}
{% block content %}
<div class="container pt-5">
      <h1 align="center">Your Journeys</h1>
</div>

<div class="container pt-3" align="center">
    <button type="submit" class="btn btn-outline-primary mt-3 newJourney">New Journey</button>
</div>

<section class="p-5">
    <div class="container">
        <div class="row text-center g-3">
            {% for travel in journeys %}
            {% for journeyS, journeyStatusOrCountry in travel[3].items() %}
            <div class="col-4">
                <div class="card cardTravel text-light">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3">
                            Travel ID: <span style="color:#ffbb11">{{ travel[0] }}</span>
                        </h3>
                        <p class="card-text">
                            Session Date: <span style="color:#ffbb11">{{ travel[1] }}</span>
                        </p>
                        <div class="previous_countries_icon_container">
                            <p>Visited Countries Included?</p>
                            {% if travel[2] == 1 %}
                            <img class="prev_countries_icon" src="{{ url_for('static', filename='imgs/acceptT.png') }}" alt="tick icon">
                            {% else %}
                            <img class="prev_countries_icon" src="{{ url_for('static', filename='imgs/removeX.png') }}" alt="tick icon">
                            {% endif %}
                        </div>
                        {% if journeyStatus == "Incomplete" %}
                        <button class="btn btn-danger travel" id="{{ travel[0] }}">Incomplete</button>
                        {% else %}
                        <button class="btn btn-success travel" id="{{ travel[0] }}">{{ journeyStatusOrCountry }}</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
            </button>
        </div>
    </div>
</section>


<div class="container pt-3" align="center">
    <p id="pleaseWait" class="text-success pt-3" style="display:none">
        Please wait...
    </p>
</div>



<script
    type="module"
    src="{{ url_for('static', filename='journeys.js') }}"
></script>
{% endblock %}

