{% extends "base.html" %} {% block title %}Journeys{% endblock %}
{% block content %}
<div class="container pt-5">
      <h1 align="center">Your Journeys</h1>
</div>



<div class="container pt-3" align="center">
    <button type="submit" class="btn btn-outline-primary mt-3 newJourney">New Journey</button>
</div>

<div class="container py-4">
    {% for travel in journeys %}
    {% for travelID, travelDate in travel.items() %}
    <button class="btn btn-outline-info travel" id="{{ travelID }}">{{ travelID }} {{ travelDate }}</button>
    {% endfor %}
    {% endfor %}
</div>



<script
    type="module"
    src="{{ url_for('static', filename='journeys.js') }}"
></script>
{% endblock %}