{% extends "base.html" %} {% block title %}No Travel{% endblock %}
{% block content %}
<!-- This page is for when the user types in a travelID that has not answered questions -->

<h1 align="center" class="pt-4 pb-2"><span class="text-danger">No Travel Session Found!</span></h1>
<p class="py-2" id="no-travel-p">Sorry, we can't seem to find your travel for you {{ user.first_name }},<br> please check you have used our service before by
    clicking the button below:
</p>


<div class="pt-3 d-sm-flex align-items-center justify-content-center">
    <div>
        <a href="/journeys" class="btn btn-primary mb-2">Start Adventuring Now!</a>
    </div>
</div>

{% endblock %}