{% extends "base.html" %} {% block title %}Travelling{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='questions.css') }}>
{% endblock %}
{% block content %}
<div class="container pt-5" id="question-container">
    <h2 align="center">Hello {{ user.first_name }}</h2>
    <p class="question-text pt-4" align="center"></p>
</div>

<div class="container" id="answer-container">

</div>

<div class="container pt-3" align="center">
    <p id="invalidInteger" class="text-warning pt-3" style="display:none">
    </p>
    <p id="pleaseWait" class="text-success pt-3" style="display:none">
        Please wait...
    </p>
</div>

<p id="travelElement" style="display:none" travelID="{{ travelID }}"></p>

<script
    type="module"
    src="{{ url_for('static', filename='questions.js') }}"
></script>
{% endblock %}