{% extends "base.html" %} {% block title %}TEST{% endblock %}
{% block content %}
<div class="container pt-5">
    <h1 align="center"><span class="text-success">Suggested Countries for Travel Session: {{ user_travel[0] }}</span></h1>
    <p class="pt-4 pb-2 text-primary" id="user-countries-header">
        By taking into account that {{ user_travel[1] }} people are travelling for {{ user_travel[2] }} days....<br>
        We have comprised a list for you <span class="text-danger">{{ current_user.first_name }}</span>,
        of all the countries and an estimate of the cost of travelling there!
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Country</th>
            <th scope="col">Approximate Journey Cost</th>
        </tr>
    </thead>
    <tbody>
        {% for country in best_countries %}
        <!-- sets the country name to the first part of the tuple-->
        {% set countryName = country[0] %}
        <!-- sets the country dictionary Which has the rough cost and value for travelling to that country  -->
        {% set countryDict = country[2] %}
        {% for roughCostText, roughCost in countryDict.items() %}
            <tr>
                <th scope="row">{{ country[1] }}</th>
                <td>{{ countryName }}</td>
                <td>{{ roughCostText }}: <span class="cost-number">£{{ roughCost}}</span></td>
            </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>




<script
    type="module"
    src="{{ url_for('static', filename='suggestions.js') }}"
></script>

{% endblock %}