{% extends "base.html" %} {% block title %}TEST{% endblock %}
{% block content %}
<div class="container pt-5">
      <h1 align="center">Suggested Countries</h1>
</div>

<div class="container py-4">
      <ul class="list-group list-group-flush pt-3" id="notes">
            {% for country in best_countries %}
            <!-- sets the country name to the first part of the tuple-->
            {% set countryName = country[0] %}
            <!-- sets the country dictionary Which has the rough cost and value for travelling to that country  -->
            {% set countryDict = country[1] %}
            {% for roughCostText, roughCost in countryDict.items() %}
            <li class="list-group-item">
                  {{ countryName}} <p class="cost-text">{{ roughCostText }}: <span class="cost-number">£{{ roughCost}}</span></p>
            </li>
            {% endfor %}
            {% endfor %}
      </ul>
</div>

<script
    type="module"
    src="{{ url_for('static', filename='suggestions.js') }}"
></script>

{% endblock %}