{% extends "base.html" %} {% block title %}TEST{% endblock %}
{% block content %}
<div class="container pt-5">
      <h1 align="center">Admin Page</h1>

      {% for country in countries %}
            {% for countryCode, countryName in country.items() %}
            <div class="option">
                  <input type="radio" class="radio" id="{{ countryCode }}" name="countries"/>
                  <label for="{{ countryCode }}">{{ countryName }}</label>
            </div>
            {% endfor %}
      {% endfor %}

</div>
{% endblock %}