.maintxt {
    background-image: url("showcase.png");
    background-size: cover;
}

/*/ ALL RANGE SLIDER STUFF /*/

.rangeContainer {
  margin-top: 75px;
  display: grid;
  height: 100%;
  text-align: center;
  place-items: center;
}

.range {
  height: 80px;
  width: 380px;
}

.range .sliderValue {
  position: relative;
  width: 100%;
}

.range .sliderValue span {
  position: absolute;
  height: 45px;
  width: 45px;
  color: #ffffff;
  font-weight: 500;
  top: -40px;
  transform: translateX(-50%);
  line-height: 55px;
  z-index: 2;
}

.range .sliderValue span:after {
  position: absolute;
  content: "";
  height: 45px;
  width: 45px;
  background: #005cc8;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  bottom: -8%;
/*/  border: 3px solid #7e00ff;/*/
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.range .field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.range .field .value {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: #005cc8;
}

.range .field .value.left {
  left: -35px;
}

.range .field .value.right {
  right: -35px;
}

.range .field input {
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  background: #dddddd;
  border-radius: 5px;
  outline: none;
  border: none
}



.holiday-img-size {
    max-width: 60%;
    height: auto;
    background-size: contain;
}

.card2 {
    background-color: cadetblue;
}

.card1 {
    background-color: #976cd7;
}

.cardTravel {
  /*background-color: #3e4125;  */
  /*background-color: #2f435e;*/
  /*background-color: #2e5486;*/
  background-color: #004d8c;
  /*background-image: url("semiglobe.png");*/
}


.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.select-box .options-container {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;
}

.selected::after {
  content: "";
  background: url("arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

.centerAButtons {
  text-align: center;
}


.answerButtons {
  margin-left: 15px;
  margin-right: 15px;
}


.cost-text {
  text-align: right;
}

.cost-number {
  color: blueviolet;
}

#user-countries-header {
  font-size: 20px;
}

#no-travel-p {
  font-size: 18px;
}

.helper-text {
  font-size: 16px;
  color: #33a133;
}

.signup-warning {
  color: #f8bb21;
}